# Created by venv; see https://docs.python.org/3/library/venv.html
# *

# ignore the supabase url and key- sensitive information
.env

# ignore the virtual environment 
.venv 

# ignore this .py file
portfolio.py

# dont ignore this .py file
!my_portfolio.py




